@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);
@import url(<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>);
@import url(<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">);
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);
@import url(<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>);
@import url(<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">);
@import url(<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">);
@import url(<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">);
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);
@import url(<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>);
@import url(<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap" rel="stylesheet">);
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">);
@import url(<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>);
@import url(<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap" rel="stylesheet">);
* {
    padding: 0px;
    margin: 0px;
}
body {
    /* height: 500px; */
    /* background-image: url(map.2.png); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background-color: white;
    z-index: -1;
}
header {
    background-color: #40514E;
    position:sticky ;
    top: 0%;
    box-shadow: 2px 2px 2px 3px #40514E;
    z-index: 1;
}
.hulist {
    /* padding: 1px; */
    justify-content: right;
    padding: 0vw 0vw 0vw 0vw;
    text-align: right;
}
.hlist {
    display: inline-block;
    color: white;
    padding: 1vw 2.2vw;
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    font-weight: bold;
}
.hlist:hover{
    color:rgb(0, 255, 0);
}
.bigcontainer{
    padding: 14px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.container{
    width: 60vw;
    height: 86vh;
    background-color: #B9FFF8;
    font-family: 'Acme', sans-serif;
    border: 4px solid #B9FFF8;
    border-top: none;
    border-radius:10px ;
    box-shadow: 0px 0px 20px 2px #000000;
}
.barsearch{
    display: flex;
    justify-content:center ;
    font-size: 1.5vw;
    border-top: 30px solid #B9FFF8;
}
.inptsearch{ /* enter pincode search bar */
    box-shadow: 2px 2px 3px 2px ;
    border: 2px solid rgb(234, 231, 231);
    border-radius: 10px;
    margin: 0px 0px 0px 9px ;
}
.btnsearch{
    cursor: pointer;
    width: 7vw;
    margin: 0px 0px 0px 5px ;
    box-shadow: 2px 2px 2px 1px  ;
    text-shadow: 1px 1px 1px black ;
    color: rgb(255, 255, 255);
    /* border: 5px solid rgb(6, 6, 6); */
    background-color: rgb(9, 9, 9);
    border-radius: 8px;
    text-decoration: none;
}
.btnsearch:hover{
    background-color: rgb(0, 153, 255);
    color:  rgb(255, 255, 255);
}
.headimg1{
    height: 25%;
    background-color: white;
    border-radius:20px ;
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: baseline;
}
.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thead{
    padding: 0px 64px 0px 34px ;
    font-size: 1.2em;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 6px;
    /* box-shadow:0px 0px 1px 1px ; */
    /* background-color: ; */
}
.thead2{
    border: none;
    border-bottom: 6.4px solid white;
    border-radius: 30px;
    /* box-shadow: -0.3px -0.3px 0px 1px  white; */
    box-shadow: -0.1px -0.1px 0px 0.1px  white;
    font-size: 1.3em;
    padding: 30px 36px;
}
.clearbtn{
    cursor: pointer;
    width: 7vw;
    margin: 0px 0px 0px 5px ;
    box-shadow: 2px 2px 1px black  ;
    text-shadow: 1px 1px 1px black ;
    color: rgb(255, 255, 255);
    /* border: 5px solid rgb(6, 6, 6); */
    background-color: rgb(9, 9, 9);
    border-radius: 8px;
    text-decoration: none;
}
.clearbtn:hover{
    background-color: rgb(0, 153, 255);
    color:  rgb(255, 255, 255);
}
.outputbox1{   
    border-radius: 30px;
    opacity: 0 ;
    transition: opacity 0.5s;
} 
.loading{
    display: inline;
    font-family: 'DynaPuff', cursive;
    position: relative;
    font-size: 4vw;
    bottom: 38vh ;
    left:39vw ;
    animation: atmloading 2s linear 1s infinite alternate-reverse;
}
/* @keyframes atmloading {
    0%{
        transform-origin:left ;
        transform: rotate(0);
    }
    100%{
        transform-origin:right ;
        oca
    }

} */
